# Shipped by Lens Studio

!**/.vscode/extensions.json
!**/.vscode/launch.template.json
!**/.vscode/settings.template.json
!**/.vscode/tasks.json
!tests/baselines/reference/project/nodeModules*/**/*
!tests/cases/projects/NodeModulesSearch/**/*
!tests/cases/projects/projectOption/**/node_modules
!tests/cases/webharness/compilerToString.js
.\#*
.eslintcache
.failed-tests
.idea
.node_modules/
.parallelperf.*
.settings
.vscode/
*.lock
*.actual
*.config
*.lsproj.user
*.swp
**/.DS_Store
**/.vs
**/.vscode/*
*v8.log
/lib/
\#*\#
~*.docx
build.json
built/*
coverage/
internal/
jsconfig.json
node_modules/
package-lock.json
rwc-report.html
scripts/**/*.js
scripts/**/*.js.map
scripts/debug.bat
scripts/eslint/built/
scripts/run.bat
src/compiler/diagnosticInformationMap.generated.ts
src/compiler/diagnosticMessages.generated.json
src/harness/*.js
src/parser/diagnosticInformationMap.generated.ts
src/parser/diagnosticMessages.generated.json
Support/
test-args.txt
TEST-results.xml
tests/baselines/local.old/*
tests/baselines/local/*
tests/baselines/local/projectOutput/*
tests/baselines/prototyping/local/*
tests/baselines/reference/dt
tests/baselines/reference/projectOutput/*
tests/baselines/reference/testresults.tap
tests/baselines/rwc/*
tests/cases/**/*.js
tests/cases/**/*.js.map
tests/cases/perf/*
tests/cases/rwc/*
tests/services/baselines/local/*
tests/services/baselines/prototyping/local/*
tests/services/browser/typescriptServices.js
tests/webhost/*.d.ts
tests/webhost/webtsc.js
tests/webTestServer.js
tests/webTestServer.js.map
yarn-error.log
yarn.lock
